<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <h1>Student Registration Form</h1>

        <form action="/" method="post">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" required />

            <label for="department">Department</label>
            <input type="text" id="department" name="department" required />

            <label for="courses">Courses</label>
            <input type="text" id="courses" name="courses"  required />

            <label for="degree">Degree</label>
            <input type="text" id="degree" name="degree" required />

            <label for="age">Age</label>
            <input type="number" id="age" name="age" required />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
